@import "variables.css";

.player-table {
  background: var(--color-bg-main);
  font-family: "Roboto";

  thead {
    color: var(--color-text-second);
    font-size: 16px;
    text-align: left;
  }
}

.player {
  &__button {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border-element);
    border-radius: 3px;
    color: var(--color-text-main);
    background: var(--color-bg-element);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    padding: 8px 15px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    box-sizing: border-box;

    &-icon {
      display: inline-block;
      float: left;
      background-image: url(../images/icons/triangle.svg);
      height: 10px;
      width: 6px;
      margin-right: 10px;
    }
  }

  &__input {
    box-sizing: border-box;
    height: 32px;
    border: 1px solid var(--color-border-element);
    border-radius: 3px;
    background: var(--color-bg-element);
    color: var(--color-text-main);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    padding: 8px 10px;
  }

  &__range {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;

    /** Thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: var(--color-bg-range-thumb);
      cursor: pointer;
      margin-top: -6px;
    }

    &::-moz-range-thumb {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background: var(--color-bg-range-thumb);
      cursor: pointer;
    }

    /** Track */
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      background: var(--color-bg-range-track);
      border-radius: 3px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      background: var(--color-bg-range-track);
      border-radius: 3px;
    }
  }

  &__label {
    font-family: "Roboto";
    font-size: 14px;
    color: var(--color-bg-label);
  }
}
